name: Blockchain Contracts Tests
on:
  workflow_dispatch:

env:
  DOCKER_REG: 'ghcr.io'
  NODE_VERSION: '22'
jobs:
  run-contracts-tests:
    name: Run contracts tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        contract: ["metadata-registry", "revocation-list", "verification-coupon", "permissions"]
    steps:
      # Checkout Repository
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ env.NODE_VERSION }}
      # Install Dependencies
      - name: Install Dependencies
        run: npm i --legacy-peer-deps
        working-directory: ./contracts/${{ matrix.contract }}
      # Compile Contract
      - name: Compile Contract
        run: npm run build
        working-directory: ./contracts/${{ matrix.contract }}
      # Start Besu Blockchain Node
      - name: Start Besu Blockchain Node
        run: >
          docker run
          --name blockchain
          -p 8545:8545
          -v ./eng/docker/services/blockchain-config:/opt/besu/config
          -d
          hyperledger/besu:25.4.1@sha256:00468488df234ead7c0e450ffcd5bc1ac3ed62f458a0de42ba029155ecdf5331
          --genesis-file=/opt/besu/config/genesis.json
          --node-private-key-file=/opt/besu/config/key
          --rpc-http-enabled
          --rpc-http-api=ETH,NET,WEB3
          --host-allowlist=*
          --rpc-http-cors-origins=all
          --min-gas-price=0
          --profile=enterprise
      # Run Contract tests
      - name: Run Contract tests
        run: npm run test
        working-directory: ./contracts/${{ matrix.contract }}
