name: Node.js CI - CA E2E

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
    
env:
  DOCKER_REG: 'ghcr.io'
jobs:
  # Test
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
    - name: Clean up Runner
      run: |
        sudo apt-get clean
        docker system prune -af
        rm -rf /usr/share/dotnet
    - name: Checkout repo
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
    - name: Restore yarn cached
      id: cache-yarn-restore
      uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: |
          ${{ steps.yarn-cache-dir-path.outputs.dir }}
          node_modules
        key: ${{ runner.os }}-${{ matrix.node-version }}-yarn-${{ hashFiles('yarn.lock') }}
    - name: Install Dependencies
      run: yarn install --frozen-lockfile --prefer-offline
    - name: Start Containers
      run: docker compose -f ./servers/credentialagent/e2e/docker-compose.yml up -d
    - name: Wait for Fineract to launch
      run: while ! curl http://localhost:13008; do echo "Waiting for Fineract to launch on port 13008..."; sleep 4; done;
    - name: Deploy Blockchain Contracts
      run: RPC_NODE_URL=http://localhost:18545 node ./tools/contracts-deployment/index
    - name: Run Oracle Migrations
      working-directory: ./servers/oracle
      run: MIGRATION_ENV=localdev yarn migrate:up
    - name: Test
      uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
      with:
        timeout_minutes: 10
        max_attempts: 2
        retry_on: timeout
        command: yarn nx run @verii/server-credentialagent:test:e2e
      env:
        IS_CI: true
        NODE_OPTIONS: "--max_old_space_size=4096"
        NODE_TLS_REJECT_UNAUTHORIZED: 0
